# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
.history
.vscode
# testing
/coverage

# production
/main.js
/dist
/.awcache
./package-lock.json


